<div class="ll-feature bg-warn pt-12 pb-14">
  <div class="container">
    <div class="grid grid-cols-12">
      <div class="_title-wrap bg-black col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3 sm:row-span-3">
        <h2 class="_title text-white">Affordable housing finder tool features.</h2>
      </div>
      <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
        <div class="flex-none w-16 text-center">
          <mat-icon>check</mat-icon>
        </div>
        <div class="flex-grow">
          <h2 class="font-black text-black">Gas Calculator</h2>
        </div>
      </div>
      <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
        <div class="flex-none w-16 text-center">
          <mat-icon>check</mat-icon>
        </div>
        <div class="flex-grow">
          <h2 class="font-black text-black">Rent Calculator</h2>
        </div>
      </div>
      <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
        <div class="flex-none w-16 text-center">
          <mat-icon>check</mat-icon>
        </div>
        <div class="flex-grow">
          <h2 class="font-black text-black">Includes Houses, Condos, Townhouses, and Apartments</h2>
        </div>
      </div>
      <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
        <div class="flex-none w-16 text-center">
          <mat-icon>check</mat-icon>
        </div>
        <div class="flex-grow">
          <h2 class="font-black text-black">Regularly Updated</h2>
        </div>
      </div>
      <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
        <div class="flex-none w-16 text-center">
          <mat-icon>check</mat-icon>
        </div>
        <div class="flex-grow">
          <h2 class="font-black text-black">Filter Results Based on Needs</h2>
        </div>
      </div>
      <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
        <div class="flex-none w-16 text-center">
          <mat-icon>check</mat-icon>
        </div>
        <div class="flex-grow">
          <h2 class="font-black text-black">100% free</h2>
        </div>
      </div>
    </div>
  </div>
</div>
