<div class="pt-52 pb-32 bg-gray-100 text-center">
  <div class="container">
    <h3>About Us</h3>
    <nav class="breadcrumb flex justify-center items-center">
      <a class="px-1 mr-3 text-gray-500 hover:text-black" [routerLink]="'/'">Home</a>
      <a class="px-1" href="javascript:void(0)" class="text-accent">About</a>
    </nav>
  </div>
</div>
<!-- About  -->
<div class="pt-20 pb-24">
  <div class="container">
    <h1 class="about__title">About the Orange County affordable housing finder tool</h1>
    <div class="flex flex-wrap mt-5 xl:mt-8">
      <div class="lg:w-1/2 lg:order-last">
        <a href="javascript:void(0)" class="about__img relative block">
          <img src="assets/images/about.jpg" alt="About" />
          <mat-icon class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
            >play_circle_filled</mat-icon
          >
        </a>
      </div>
      <div class="lg:w-1/2 lg:pr-10 mt-8 lg:mt-0 about__text">
        <p class="mb-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur optio, perferendis, magnam accusantium
          reiciendis assumenda repellat in qui, quos dolor esse quibusdam illum necessitatibus labore officia tempore
          modi placeat dolores!
        </p>
        <p class="mb-3">
          lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure doley.
        </p>
        <div class="experience grid grid-cols-3 gap-4 mt-6 xl:mt-16">
          <div class="experience__item">
            <h2>1</h2>
            <h6 class="font-semibold">Title</h6>
          </div>
          <div class="experience__item">
            <h2>1</h2>
            <h6 class="font-semibold">Title</h6>
          </div>
          <div class="experience__item">
            <h2>1</h2>
            <h6 class="font-semibold">Title</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
