<div class="ll-hero">
  <ng-particles [id]="'home_hero__particles'" class="ll-hero__particles" [options]="particlesOptions"></ng-particles>
  <div class="container">
    <div class="grid grid-cols-12 gap-x-6">
      <div class="col-span-12 md:col-span-6 lg:col-span-7 xxl:col-span-6 ll-hero-text">
        <h1 class="lg:mt-12 text-white font-bold">
          Orlando's number 1 affordable housing finder. Our site will help you find affordable housing and calculate
          your total monthly costs for any location.
        </h1>
        <div class="flex flex-wrap items-center mt-4">
          <div class="inline-block mr-5">Search:</div>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">Apartments</a>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">Condos</a>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40">Townhouses</a>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40">Houses</a>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-5 xxl:col-span-6 ll-image mt-10 md:mt-0">
        <img class="ml-auto" src="assets/images/hero.png" alt="Hero" />
      </div>
    </div>
  </div>
</div>

<div class="ll-service-area">
  <div class="container">
    <h1 class="ll-service__title text-center font-extralight mb-12">Quick Stats</h1>
    <div class="ll-services grid grid-cols-12 gap-8">
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">2.2K</div>
        <h3 class="mb-2">Rent</h3>
        <p>The current average rent in Orlando FL. This cost is calculated using store prices in our local database.</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">$120</div>
        <h3 class="mb-2">Utility</h3>
        <p>The average utility costs in Orlando, FL.</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">$98</div>
        <h3 class="mb-2">Internet & TV</h3>
        <p>The average combined cost for internet and TV in Orlando, FL.</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">1107</div>
        <h3 class="mb-2">Listings</h3>
        <p>Amound of available housing opening in Orlando, FL.</p>
      </div>
    </div>
  </div>
</div>

<div class="ll-about mt-28 mb-28">
  <div class="container">
    <div class="flex flex-wrap">
      <div class="lg:w-1/2 lg:order-last">
        <a href="javascript:void(0)" class="ll-about__img relative block">
          <img src="assets/images/about.jpg" alt="About" />
          <mat-icon class="absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
            >play_circle_filled</mat-icon
          >
        </a>
      </div>
      <div class="lg:w-1/2 lg:pr-10 mt-8 lg:mt-0 ll-about__text">
        <h2 class="font-medium">Advice: What to look for while searching for affordable housing</h2>
        <div class="mt-12">
          <h5 class="font-medium text-black">Travel Costs</h5>
          <p class="mt-1">
            Daily travel fees can quickly add up. Paying $3 a day for toll roads will result in $60 a month only for
            traveling to and from work.
          </p>
        </div>
        <div class="mt-8">
          <h5 class="font-medium text-black">Utilities</h5>
          <p class="mt-1">
            Not all housing utilizes the same amount of energy. Older housing is usually less insulated, resulting in
            more power needed to cool your home.
          </p>
        </div>
        <div class="mt-8">
          <h5 class="font-medium text-black">Rent</h5>
          <p class="mt-1">
            Cut down on rent as much as possible. A $100 or $200 difference between two housing options may seem trivial
            at first but this can result in an additional $2400 over the course of a year.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<ll-home-products></ll-home-products>

<div class="ll-process-area bg-black mt-16">
  <div class="container">
    <h2 class="ll-process__title text-center text-warn mb-8">How-To find affordable housing</h2>
    <div class="ll-processes grid grid-cols-12 gap-8">
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">01</div>
        <h3 class="mb-2 text-warn font-bold">Search</h3>
        <p class="text-white">Search for affordable housing in Orlando, FL.</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">02</div>
        <h3 class="mb-2 text-warn font-bold">Choose</h3>
        <p class="text-white">Select from a wide range of available housing based on your needs.</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">03</div>
        <h3 class="mb-2 text-warn font-bold">Calculate</h3>
        <p class="text-white">Calculate your monthly costs with easy to use tools created to cover most scenarios.</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">04</div>
        <h3 class="mb-2 text-warn font-bold">Purchase</h3>
        <p class="text-white">Contact the landlord and rent/ purchase your selection.</p>
      </div>
    </div>
  </div>
</div>
